body 
{
    background-color: white;
}

h1,h2,h3,h4,h5,h6
{
    margin-top: 0px;
    margin-left: 0px;
}

div#signin
{
    float: right;
    top: 30px;
    right: 30px;
    
    text-align: right;
}

div#front-content
{
    float: left;
    top: 30px;
    left: 30px;
     
    text-align: left;
}

div#date-cloud
{
    float: right;
    top: 80px;
    right: 30px;
    
    width: 500px;
    text-align: center;
    background:#FFFFCC;
}

div#date-cloud span
{
    padding: 4px;
}

div#date-cloud span.M-2
{
    font-size: 75%;
}

div#date-cloud span.M-1
{
    font-size: 100%;
}

div#date-cloud span.M0
{
    font-size: 125%;
}

div#date-cloud span.M1
{
    font-size: 150%;
}

div#date-cloud span.M2
{
    font-size: 175%;
}
